*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body header{
    margin: 6px;
    align-items: center;
    text-align: center;
    height: 60px;
    margin-top: 0 20px;
    font-size: x-large;
    border: solid black;
}
body main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(20, 2, 40);
}

.calculator{
    border: 3px solid #ffffff;
    padding: 20px;
    border-radius: 16px;
    background: transparent;
    

}
.part{
    border-top: solid white 3px;
    background-color: rgb(20, 2, 40);
}
input{
    width: 320px;
    border: none;
    padding: 24px;
    margin: 10px;
    background: transparent;
    
    font-size: 40px;
    text-align: right;
    cursor: pointer;
    color: #ffffff;
}

input::placeholder{
    color: #ffffff;
}

button{
    border: solid px;
    width: 60px;
    height: 60px;
    margin: 10px;
    border-radius: 50%;
    background: transparent;
    color: #ffffff;
    font-size: 20px;
    cursor: pointer;
}

.equalBtn{
    background-color: #087e2e;
}

.operator{
    color: #6dee0a;
}